{% extends "admin/base.html" %}
{% load i18n %}

{% block extrastyle %}
<style>
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #132452;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#header {
    background-color: #132452;
    color: white;
}

#branding h1 {
    color: white;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: white;
}

.module h2, .module caption, .inline-group h2 {
    background:#2A3C6E;
    color: white;
}

div.breadcrumbs {
    background: #2A3C6E;
    color: white;
}

.selector-chosen h2 {
    background: #2A3C6E;
}
</style>
{% endblock %}

{% block welcome-msg %}
    {% trans 'Welcome,' %}
    <strong>{{ user.email }}</strong>.
{% endblock %}
