{% extends "admin/index.html" %}
{% load i18n admin_urls static admin_list %}
{% block extrahead %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
    .custom-btn{
        cursor: pointer;
        background-color: #79aec8;
        border: none;
        color: #fff;
        padding: 7px;
        cursor: pointer;
        border-radius: 4px;
    }
</style>

{% endblock %}
{% block content %}
<div id="loading-component" style="display: none;text-align: center;">
    <h1>Loading data</h1>
    <div class="loader" style="margin: 0 auto;"></div>
</div>
<div id="content-main"class="module">
    {% if use_core_automation %}
        <p class="custom-btn" onclick="window.location.href='{{target_admin_view}}';">Go to {{target_admin_view_name}}</p>
    {% endif %}
    {% if display_datamodel %}
        <p><a href="{% url 'datamodel' action='view' %}"><u>Show datamodel</u></a></p>
    {% endif %}
    {% if enable_db_dump %}
        <p><a href="{% url 'concrete:dump_data' %}" onclick="showWaitingDiv()"><u>Show JSON database dump</u></a></p>
        <br>
        <p onclick="donwloadDump()" href="{% url 'concrete:dump_data' %}?download=true" class="custom-btn"><i class="fa fa-download" style="padding: 0px 15px"></i>Download a database dump file</p>
    {% endif %}
    {% if enable_db_load %}

        <div class="inputfile-box" style="position: relative; height: 3rem">
            <form action="{% url 'concrete:load_data' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
              <input type="file" name="file" id="file" class="inputfile" onchange="submitAndWait(this.form)" style="display: none;">
              <label for="file">
                <p class="custom-btn"><i class="fa fa-upload" style="padding: 0px 15px"></i>Select a dump file to load into the database
                </p>
              </label>
            </form>
        </div>

        <script type="text/javascript">
            function showWaitingDiv() {
                // Show waiting component
                document.getElementById('loading-component').style.display = "block";
                // Hide other contents
                document.getElementById('content-main').style.display = "none";
                document.getElementById('content-related').style.display = "none";
            };
            function submitAndWait(form) {
                form.submit();
                showWaitingDiv();
            };
            function donwloadDump() {
                document.location.href="{% url 'concrete:dump_data' %}?download=true";
                alert('Your download will begin soon')
            }
        </script>
        <br>
    {% endif %}

{% if app_list %}
    {% for models_group in app_list %}
        <div class="app-{{ models_group.app_label }} module">
        <table>
        {% if models_group.group_name %}
        <caption>{{ models_group.group_name }}</caption>
        {% else %}
        <caption>{{ models_group.name }}</caption>
        {% endif %}
        {% for model in models_group.models %}
            <tr class="model-{{ model.object_name|lower }}">
            {% if model.admin_url %}
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
            {% else %}
                <th scope="row">{{ model.name }}</th>
            {% endif %}

            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if model.admin_url %}
                {% if model.view_only %}
                <td><a href="{{ model.admin_url }}" class="viewlink">{% trans 'View' %}</a></td>
                {% else %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
                {% endif %}
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to view or edit anything." %}</p>
{% endif %}
</div>
{% endblock %}
